/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #060403;	
	background-image: url(file:///C|/wamp/www/DIG4104C/Project2-GroupAwesome/images/bk.jpg);
	background-repeat: no-repeat;
	background-position: center;}
	
.container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	}

#logo {
	width: 1024px;
	background-color: orange;
	float: left;
}

#banner {
	color: teal;
	width: 1024px;
	height: 250px;
	background-color: yellow;
	opacity:0.5;
	float: left;
}

#navigation {
	width: 869px;
	float: left;
}

#navigation ul li {
	display: inline;
	font-weight: bold;
	font-size: 20px;
	margin-right: 20px;
	padding-left: 3px;
	padding-right: 10px;
	border-radius: 15px;
	background-color: white;
	float: left;	
}

#socialicon {
	width: 147px;
	height: 36px;
	padding-right: 8px;
	padding-top: 5px;
	float: left;
}

#navigation a:link {text-decoration:none;color: black; padding-left: 10px;}
#navigation a:visited {text-decoration:none;color: black; padding-left: 10px;}
#navigation a:hover {text-decoration:none;color: black; padding-left: 10px;}
#navigation a:active {text-decoration:none;color: black; padding-left: 10px;}



#breadcrumbnav {
	color: teal;
	width: 1024px;
	float: left;

}

#breadcrumbnav a:link { text-decoration:underline;color: lime; padding-left: 10px;}
#breadcrumbnav a:visited {text-decoration:underline; color: lime; padding-left: 10px;}
#breadcrumbnav a:hover {text-decoration:underline; color: lime; padding-left: 10px;}
#breadcrumbnav a:active {text-decoration:underline; color: lime; padding-left: 10px;}

.content {
	width: 1024px;
	width: auto;
	opacity: 0.5;
	background-color: black;	
	float: left;
	border-radius: 7px;
}
.content h2 {
	width: 1024px;
	color: white;
	font-size: left;
	padding-left: 10px;	
}

.content p {

	padding-left: 15px;
	color: white;
	opacity: 0.5;
	font-size: left;	
}

.footer {
	width: 1024px;
	height: 200px;
	float: left;
}

#info {
	font-family: ;
	color: white;
	width: 335px;
	height: 200px;
	background-color: black;
	border-radius: 7px;
	margin-right: 8px;
	padding-left: 5px;
	opacity:0.5;
	float: left;
}

#credit {
	color: white;
	width: 345px;
	height: 200px;
	background-color: black;
	border-radius: 7px;
	margin-right: 8px;
	padding-left: 5px;
	opacity:0.5;
	float: left;
}

#credit h3 {
padding-left: 10px;
}

#facebook {
	color: white;
	width: 313px;
	height: 159px;
	background-color: black;
	border-radius: 7px;
	float: left;
	text-align: left;
	padding-right: 5px;
	padding-top: 41px;
	opacity:0.5;

}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
	max-width: 767px;	
	}

.row {
	width: 100%;
	max-width: auto;
	min-width: auto;
	margin: 0 auto;
	overflow: hidden;
}

.row .sixcol_left {
	width: auto;
	height: auto;
	font-size: 12px;
	padding-left: auto;
	padding-top: auto;	
	float: left;
}

.row .sixcol_right {
	width: auto;
	height: auto;
	color: #FFF;
	float: right;
	font-size: 12px;
	text-align: right;
	padding-right: auto;
	padding-top: auto;
}

.row .twelvecol_header {
	width: auto;
	height: auto;
	border-radius: 5px;
	color: #FFCC51;
}

.row .twelvecol_navigation ul li {
	padding-left: 10px;
	padding-right: 45px;
	font-size: 20px;
	font-weight:bold;
	color: yellow;	
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
body{
	background: url(file:///C|/Users/Glory/Desktop/Portfolio/images/home-bk-mobile.jpg) no-repeat;
	background-size: 212px 303px;
	}

}